@model CityProblemSolver.ViewModels.Login

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>User</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- Meta tag Keywords -->

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="~/template/css/style2.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Style-CSS -->
    <link href="~/template/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Magra:400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <!-- content -->
    <div class="container-agille">
        <div class="formBox level-login">
            <div class="box boxShaddow"></div>
            <div class="box loginBox">
                <h3>User Login Here</h3>
                <form class="form" asp-action="User">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="f_row-2">
                        <input type="text" class="input-field" placeholder="Username" asp-for="UserName" required>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="f_row-2 last">
                        <input type="password" class="input-field" placeholder="Password" asp-for="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input class="submit-w3" type="submit" value="Login">
                    <div class="f_link">
                        <a asp-area="" asp-controller="Users" asp-action="Create">Register Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //content -->
    <!-- copyright -->
    <div class="footer-w3ls">
        <h2>
            Copyright &copy; 2020 - City Problem Solver. All rights reserved
        </h2>
    </div>
    <!-- //copyright -->
    <!-- js files -->
    <!-- Jquery -->
    <script src="~/template/js/jquery-2.2.3.min.js"></script>
    <!-- //Jquery -->
    <!-- input fields js -->
    <script src="~/template/js/input-field.js"></script>
    <!-- //input fields js -->
    <!-- password-script -->
    @*<script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>*@
    <!-- //password-script -->
    <!-- //js files -->
</body>
</html>