@model CityProblemSolver.Models.WorkerComplain

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["PageTitle"] = "Assign";
    ViewData["Location"] = "Assign";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Assign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Select worker:</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.WorkerId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ComplainId" />
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>