@model CityProblemSolver.ViewModels.SolvedViewModel

@{
    ViewData["Title"] = "Solve";
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    ViewData["PageTitle"] = "Solve Complain";
    ViewData["Location"] = "Solve Complain";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Solved">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="SolvedDate" class="control-label"></label>
                <input asp-for="SolvedDate" class="form-control" />
                <span asp-validation-for="SolvedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolvedDescription" class="control-label"></label>
                <textarea asp-for="SolvedDescription" class="form-control"></textarea>
                <span asp-validation-for="SolvedDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Solved" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>