
@{
    ViewData["Title"] = "About";
}

<!-- inner page banner -->
<section class="inner_page_banner text-center pt-4">
    <h2 class="page_heading text-uppercase pt-md-5 pt-sm-4">About</h2>
    <h4 class="text-uppercase pt-2"><a asp-controller="Home" asp-action="Index">Home</a> - About Page</h4>
</section>
<!-- //inner page banner -->
<!-- Welcome section -->
<section class="welcome py-5 my-lg-5" id="welcome">
    <h3 class="heading text-center text-uppercase">Welcome</h3>
    <p class="heading-bottom text-center font-italic mb-5">City Problem Solver</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 welcome_left">
                <img src="~/template/images/welcome.jpg" alt="welcome image">
            </div>
            <div class="col-lg-6 welcome_right mt-5 py-5 px-4">
                <p>Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>

                <div class="row grid1 my-4">
                    <div class="col-md-2 col-sm-2 col-3 icon color1 text-center">
                        <span class="fas fa-info-circle" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-9 grid_info">
                        <h3 class="text-uppercase mb-2">City Corporation</h3>
                        <p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam males</p>
                    </div>
                </div>
                <div class="row grid2 my-4">
                    <div class="col-md-2 col-sm-2 col-3 icon color1 text-center">
                        <span class="fas fa-headphones" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-9 grid_info">
                        <h3 class="text-uppercase mb-2">24/7 support</h3>
                        <p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam males</p>
                    </div>
                </div>
                <div class="row grid3">
                    <div class="col-md-2 col-sm-2 col-3 icon color1 text-center">
                        <span class="fas fa-users" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-9 grid_info">
                        <h3 class="text-uppercase mb-2">Professional Team</h3>
                        <p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam males</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Welcome section -->