
@{
    ViewData["Title"] = "Gallery";
}

<!-- inner page banner -->
<section class="inner_page_banner text-center pt-4">
    <h2 class="page_heading text-uppercase pt-md-5 pt-sm-4">Gallery</h2>
    <h4 class="text-uppercase pt-2"><a asp-controller="Home" asp-action="Index">Home</a> - Gallery Page</h4>
</section>
<!-- //inner page banner -->
<!-- Gallery -->
<section class="gallery indexgallery py-5 my-lg-5" id="gallery">
    <div class="container">
        <h3 class="heading text-center text-uppercase">Gallery</h3>
        <p class="heading-bottom text-center font-italic mb-5">City Problem Solver</p>
        <div class="agileinfo_work_grids">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid gallery1">
                    <div class="wthree_work_grid1">
                        <a href="~/template/images/g1.jpg" class="b-link-stripe b-animate-go  swipebox" title="City Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="~/template/images/g1.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    City Fact
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid">
                    <div class="wthree_work_grid1">
                        <a href="~/template/images/g2.jpg" class="b-link-stripe b-animate-go  swipebox" title="City Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="~/template/images/g2.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    City Fact
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid">
                    <div class="wthree_work_grid1">
                        <a href="~/template/images/g3.jpg" class="b-link-stripe b-animate-go  swipebox" title="City Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="~/template/images/g3.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    City Fact
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid">
                    <div class="wthree_work_grid1">
                        <a href="~/template/images/g4.jpg" class="b-link-stripe b-animate-go  swipebox" title="City Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="~/template/images/g4.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    City Fact
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Gallery -->