
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    ViewData["PageTitle"] = "Dashboard";
    ViewData["Location"] = "Dashboard";
}

<h5>Worker Dashboard</h5>